/* div{
    height: 200px;
    width: 400px;
    background-color: pink;
}
ul{
    background-color: blue;
}
*/
li{
    /* background-color: yellow; */
    line-height:35px;
    font-size: 20px;
    
} 
.delete{
    margin-left: 20px;
    
    font-size: 15px;
    border-radius: 4px;
    background-color: red;
    color: white;
}
.update{
    margin-left: 20px;
    
    font-size: 15px;
    border-radius: 4px;
    background-color:gray;
    color: white;
}
.delete:hover{
    box-shadow: 2px 2px 6px black;
}
button{
    border-radius: 4px;
    background-color: lightgreen;
}
button:hover{
    box-shadow: 2px 2px 10px green;
}